@charset "utf-8";

@import "abstracts/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$header-image: "../assets/img/hero/hero-bg.jpg";
$contact-image: "../assets/img/contact/contact-bg.png";

$input-height: calc(#{$input-height-inner} + #{$input-height-border});

@import "bootstrap/scss/bootstrap";
@import "bootstrap";

@import "abstracts/mixins";
@import "abstracts/functions";

@import "base/reset";
@import "base/typography";
@import "base/fonts";

@import "layout/container";
@import "layout/section";
@import "layout/services";
@import "layout/hero-section";
@import "layout/portfolio";
@import "layout/about";
@import "layout/team";
@import "layout/testimonials";
@import "layout/contact";
@import "layout/footer";
@import "layout/clients";
@import "layout/textblock";
@import "layout/calculators";

@import "components/button";
@import "components/navbar";
@import "components/card";
@import "components/client-scroll";
@import "components/5-easy-steps";

body {
    overflow-x: hidden;
    font-family: $font-family-base;
    color: $text-primary;
    -webkit-tap-highlight-color: $primary;
}

.post {
    max-width: 750px;
    margin-top: 150px;
}
