// ============================================
// Textblock Section
// ============================================

.textblock {
  &__title {
    margin: 5px 0;
    text-transform: none;
    color: $primary;
  }

  &__icon {
    min-width: 50px;

    i {
      display: none;
    }
  }

  &__item {
    line-height: 2em;
  }
}
