.u-margin-top-xs { margin-top: $space-xs !important; }
.u-margin-top-sm { margin-top: $space-sm !important; }
.u-margin-top-md { margin-top: $space-md !important; }
.u-margin-top-lg { margin-top: $space-lg !important; }
.u-margin-top-xl { margin-top: $space-xl !important; }
.u-margin-top-2xl { margin-top: $space-2xl !important; }
.u-margin-bottom-xs { margin-bottom: $space-xs !important; }
.u-margin-bottom-sm { margin-bottom: $space-sm !important; }
.u-margin-bottom-md { margin-bottom: $space-md !important; }
.u-margin-bottom-lg { margin-bottom: $space-lg !important; }
.u-margin-bottom-xl { margin-bottom: $space-xl !important; }
.u-margin-bottom-2xl { margin-bottom: $space-2xl !important; }
.u-padding-y-md { padding-top: $space-md !important; padding-bottom: $space-md !important; }
.u-padding-y-lg { padding-top: $space-lg !important; padding-bottom: $space-lg !important; }
